.button {
  padding: $spacing-base $spacing-medium;
  background: transparent;
  border: $border-size-base solid $white;
  border-radius: $border-radius-base;
  appearance: none;
  font-weight: $font-weight-semibold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: $font-size-base;
  text-decoration: none;
  color: $white;

  &:disabled {
    opacity: 0.3;
  }

  &:hover {
    box-shadow: $button-shadow-hover $white;
  }

  &.--hero {
    background: $light-digital-black;
    mix-blend-mode: multiply;
  }

  &.--filled {
    background: $genoa;
    border: none;
  }

  &.--ghost {
    border: $border-size-base solid $ocean-green;
    color: $ocean-green;

    &:hover {
      box-shadow: $button-shadow-hover $ocean-green;
    }
  }
}
