.button {
  appearance: none;
  background-color: $digital-black;
  border-radius: $border-radius-base;
  color: $white;
  display: inline-block;
  padding: $spacing-xs;
  text-decoration: none;
  border: none;
}
