// TODO: change everything in this file to variables!

.calculator-container {
  width: 100%;
  min-height: 1500px;
  overflow: hidden;
}

.calculator {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;

  // TODO use hero from FAQ
  .intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: left;

    @include poly-fluid-sizing('margin', (
      320px: $spacing-base,
      768px: $spacing-medium,
      1280px: $spacing-xl
    ));

    p {
      max-width: 800px;
    }
  }

  .isa-loan-comparison {
    margin: 0 $spacing-medium;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; // TODO: how does this look responsive?

    // @include tablet() {
    //   margin: $spacing-base;
    // }

    .compare-item {
      width: 480px !important; // TODO
      // max-width: 480px;
      margin: 0 auto; // Centers items if they wrap to one per row
      flex: 1 1; // TODO?
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;

      @include poly-fluid-sizing('padding', (
        320px: $spacing-base,
        768px: $spacing-medium
      ));

      .monthly-figure-container {
        // max-width: 480px;
        // height: 350px;
        margin: 0 0 $spacing-large 0;
        position: relative;
        text-align: center;

        @include poly-fluid-sizing('height', (
          320px: 220px,
          600px: 350px
        ));

        .monthly-figure {
          width: calc(100% - #{$spacing-base});
          height: calc(100% - #{$spacing-base});
          box-sizing: border-box;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 2;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;

          @include poly-fluid-sizing('padding', (
            320px: $spacing-base,
            768px: $spacing-medium
          ));

          h2,
          p {
            margin: 0;
          }
        }

        .monthly-figure-backdrop {
          width: calc(100% - #{$spacing-base});
          height: calc(100% - #{$spacing-base});
          box-sizing: border-box;
          position: absolute;
          right: 0;
          top: 0;
        }

        .--outline {
          border: 3px solid rgba(65, 159, 142, 0.3);
          background: $white;
        }

        .--shadow {
          background: #f7f8f9;

          .number {
            color: $slate-gray;
          }
        }
      }
    }
  }

  b {
    // TODO: make this more generic, use span
    color: $ocean-green;
  }
}

.interactive-payments-wrapper {
  align-self: stretch;
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  // TODO fix this
  @include poly-fluid-sizing('margin', (
    320px: $spacing-base,
    768px: $spacing-medium,
    1280px: $spacing-xl
  ));

  .interactive-chart-wrapper {
    max-width: 700px;
    margin: $spacing-base 0;
    position: relative;
  }

  .interactive-chart-additional {
    max-width: 700px;
    min-height: 140px;
    padding: $spacing-xxs;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;

    .interactive-legend {
      min-width: 250px;
      flex: 1 0;
      margin: $spacing-xxs;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      .legend-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: $slate-gray;
        font-size: $font-size-small;
        text-align: left;

        &:not(:last-child) {
          margin-bottom: $spacing-xxs;
        }

        .isa-color {
          width: 53px;
          height: 36px;
          background: linear-gradient(to bottom, $pastel-green, $ocean-green);
        }

        .salary-color {
          height: 3px;
          margin: calc((36px - 3px) / 2) 0;
          background: $froly;
        }

        .isa-color,
        .salary-color {
          width: 53px;
          margin-right: $spacing-base;
        }
      }
    }

    .interactive-tooltip {
      width: 280px;
      margin: $spacing-xxs;
      padding: $spacing-base;
      border: 2px solid $froly;
      border-radius: $border-radius-base;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      background: $white;
      color: $slate-gray;
      line-height: $line-height-medium;
      font-size: $font-size-small;
    }
  }
}

.additional-graphs {
  display: flex;
  flex-flow: row wrap;

  .additional-graph {
    max-width: 100%;
    box-sizing: border-box;
    @include poly-fluid-sizing('padding', (
      320px: $spacing-base,
      768px: $spacing-medium,
      1280px: $spacing-xl
    ));

    .defer-payments-wrapper,
    .monthly-cap-wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      border: solid 3px rgba(65, 159, 142, 0.3);
      @include poly-fluid-sizing('padding', (
        320px: $spacing-base,
        768px: $spacing-medium
      ));

      .defer-payments-chart-wrapper,
      .monthly-cap-chart-wrapper {
        max-width: 100%;
        margin: 0 0 $spacing-base 0;
        position: relative;
      }

      p {
        margin: 0;
      }
    }
  }
}

.prepayment-wrapper {
  width: 600px;
}

// TODO: add the spacing to the footer ???

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
