.email-signup {
  padding: $spacing-medium 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $pastel-green;
  color: $genoa;

  @include tablet() {
    flex-flow: column nowrap;
    padding: $spacing-medium 0;
  }

  input[type='text'] {
    width: 360px;
    margin: 0 $spacing-small;
    line-height: $line-height-medium;
  }
}
