.email-signup {
  padding: $spacing-medium 0;

  form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: $spacing-base;
    justify-items: center;
    justify-content: center;
    align-items: center;

    @media (min-width: 720px) {
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
    }

    input[type='text'] {
      width: 280px;
      height: 45px;
      box-sizing: border-box;
      border: none;
    }

    label {
      margin: 0;
      display: block;
      font-size: 2.4rem;
    }
  }
}
