.footer {
  padding: $spacing-medium $spacing-xl;
  background: $slate-gray;
  color: $white;

  @include phone() {
    padding-left: $spacing-base;
    padding-right: $spacing-base;
  }

  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 $spacing-medium 0;

    @include tablet() {
      display: block;
    }

    .footer-logo {
      display: flex;
      align-items: center;
      font-size: $font-size-large;

      .logo-icon {
        height: 40px;
        margin-right: $spacing-xxs;
      }
    }

    .footer-nav {
      display: flex;
      flex-wrap: wrap;

      .nav-link {
        margin: $spacing-base;
        flex: 1 0;
        color: $white;

        @include tablet() {
          margin: $spacing-xxs $spacing-base 0 0;
          flex: 1 0 25%;
        }
      }
    }

    .footer-social-media {
      display: flex;

      .social-media-icon {
        width: $footer-social-media-icon-size;
        height: $footer-social-media-icon-size;
        margin-left: $spacing-xxs;

        @include tablet() {
          margin: $spacing-medium $spacing-xxs 0 0;
        }
      }
    }
  }

  .footer-divider {
    height: $border-size-base;
    background: $white;
  }

  .footer-attributions {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-xxs;

    @include tablet() {
      display: block;
    }

    .scout-byline {
      color: $white;

      .heart {
        position: relative;
        top: 2px;
      }
    }
  }

  .footer-disclaimer {
    font-size: $font-size-xxs;
    line-height: $line-height-medium;
    margin: $spacing-base 0;
  }
}
