.footer {
  display: flex;
  flex-flow: column nowrap;
  padding: $spacing-medium $spacing-xl;
  background: $slate-gray;
  color: $white;

  .footer-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 $spacing-medium 0;

    .footer-logo {
      display: flex;
      align-items: center;
      font-size: $font-size-large;

      .logo-icon {
        height: 40px;
        margin-right: 12px;
      }
    }

    .footer-nav {
      display: flex;
      flex-flow: row wrap;
      font-size: 16px;

      .nav-link {
        margin: 20px;
        flex: 1 0;
        text-decoration: none;
        color: $white;
      }
    }

    .footer-social-media {
      display: flex;
      flex-flow: row nowrap;

      .social-media-icon {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }
    }
  }

  .footer-divider {
    width: 100%;
    height: 2px;
    background: $white;
  }

  .footer-attributions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: $font-size-xs;

    .scout-byline {
      text-decoration: none;
      color: $white;

      .heart {
        position: relative;
        top: 2px;
      }
    }
  }

  .footer-disclaimer {
    font-size: $font-size-xs;
    line-height: $line-height-medium;
    margin: $spacing-base 0;
  }
}
