.header {
  align-items: center;
  background-color: $medium-gray;
  display: flex;
  justify-content: space-between;
  padding: $spacing-base $spacing-xl;

  .global-header-logo {
    background-color: $dark-gray;
    width: 150px;
    height: 50px;
  }
}
