.image-grid {
  width: $container-width-medium;
  margin: auto;
  padding-top: $spacing-small;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .image {
    width: 160px;
    height: 41px;
    margin: 0 $spacing-medium $spacing-medium $spacing-medium;
    background-color: $dark-gray;
  }
}
