.image-row-layout {
  .images {
    display: flex;
    flex-wrap: wrap;

    .image {
      width: 33.333%;
      padding: $spacing-small $spacing-small $spacing-small 0;

      @include tablet() {
        width: 50%;
      }

      @include phone() {
        width: auto;
      }
    }
  }
}
