.global-navigation {
  @include tablet() {
    display: none;
    opacity: 0;
    transition: opacity 1s;

    .mobile-menu--open & {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      background: $white;

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
    }
  }
}

.global-navigation-menu-icon {
  width: 35px;
  height: 35px;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: none;

  .mobile-menu--open & {
    width: 28px;
    height: 28px;
    position: fixed;
    right: 23px;
    top: 16px;
    z-index: 11;
  }

  g {
    transition: all 0.3s;
  }

  .bar {
    fill: $lightest-slate-gray;
  }

  .bar-shadow {
    fill: none;
    stroke: $ocean-green;
  }

  .top-bar {
    transform: translate(0 7.5px);
  }

  .middle-bar {
    transform: translate(0 15.5px);
  }

  .bottom-bar {
    transform: translate(0 23.5px);
  }

  .top-bar.rotated {
    transform: rotate(50deg) translate(0 17px);
    transform-origin: center center;
  }

  .middle-bar.rotated {
    opacity: 0;
  }

  .bottom-bar.rotated {
    transform: rotate(-50deg) translate(0 14px);
    transform-origin: center center;
  }

  @include desktop() {
    display: none;
  }
}

.global-navigation-link {
  padding: $spacing-xxs $spacing-xs;
  color: $digital-black;
  font-size: $font-size-xs;

  & + .global-navigation-link {
    margin-left: $spacing-small;
  }

  &.current-menu-item {
    color: $light-digital-black;
  }

  &.header-menu-home {
    display: none;
  }

  &:hover {
    color: $pastel-green;
  }

  @include tablet() {
    .mobile-menu--open & {
      font-family: $font-family-headers;
      font-size: $font-size-large;
      padding: $spacing-xs 0;
      border-bottom: $border-size-base solid $light-ocean-green;
      margin-left: $spacing-medium;

      &.header-menu-home {
        display: block;
      }
    }

    .mobile-menu--open &.button {
      color: inherit;
      border: 0;
      box-shadow: none;
      justify-content: flex-start;
    }
  }
}
