.global-navigation-link {
  color: $digital-black;
  text-decoration: none;

  & + .global-navigation-link {
    margin-left: $spacing-medium;
  }
}

.secondary-navigation-link {
  color: $white;
  text-decoration: none;

  & + .secondary-navigation-link {
    margin-left: $spacing-medium;
  }
}
