.section {
  padding: $spacing-large 0;
  text-align: center;

  &:first-child {
    padding: $spacing-xl 0;
  }

  &:nth-child(odd) {
    background: $light-gray;
  }

  &:nth-child(even) {
    background: $white;
  }

  .content {
    width: 480px;
    margin: 0 auto $spacing-medium auto;

    p:last-child {
      margin-bottom: 0;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}
