.section {
  // TODO: what should the side spacing be?
  padding: $spacing-xl $spacing-base $spacing-medium $spacing-base;
  text-align: center;
  box-sizing: border-box;

  &:first-child {
    padding: ($spacing-base * 5.8) 0;
  }

  &:nth-child(odd) {
    background: $light-gray;
  }

  &:nth-child(even) {
    background: $white;
  }

  .section-cta {
    margin: $spacing-medium 0;
  }
}
