.slick-prev,
.slick-next {
  position: absolute;
  top: 40%;
  display: block;
  width: 118px;
  height: 110px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: $white;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 11;

  &:before {
    content: '';
    width: $arrow-button-size;
    height: $arrow-button-size;
    border-radius: 50%;
    background-color: $lightest-slate-gray;
    position: absolute;
    top: 0;
    left: $spacing-xxs;
    transition: 0.3s all;

    @include tablet() {
      width: $arrow-button-size-mobile - 6px;
      height: $arrow-button-size-mobile - 6px;
    }
  }

  &:hover:before {
    left: 0;
  }

  @include tablet() {
    width: $arrow-button-size-mobile;
    height: $arrow-button-size-mobile;
  }

  @include phone() {
    display: none !important; // ugly important because of slick slider's dumb CSS
  }
}

.slick-prev {
  left: 0;
  background-image: url('svg/left-arrow.svg');

  @include tablet() {
    left: $spacing-base;
  }
}

.slick-next {
  right: 0;
  background-image: url('svg/right-arrow.svg');

  @include tablet() {
    right: $spacing-base;
  }
}

.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 30px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      cursor: pointer;
      padding: 0 $spacing-xxs;

      &:hover,
      &:focus {
        outline: none;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\2022';
        width: $font-size-xxxl;
        height: $font-size-xxxl;
        font-size: $font-size-xxxl;
        text-align: center;
        color: $light-slate-gray;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button:before {
      color: $pastel-green;
    }
  }
}
