.stats-wrapper {
  .number-wrapper {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .number {
      margin: 0 0 $spacing-base 0;
      position: absolute;
      z-index: 5;
      font-family: $font-family-headers;
      font-size: 12rem;
      color: $froly;
    }
  }

  .stats-label {
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
