.stylized-number-list-entry {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-large;

  .number-icon {
    margin-right: $spacing-medium;

    @include tablet() {
      margin-right: 0;
    }
  }

  @include tablet() {
    text-align: center;
    display: block;
  }
}
