.testimonials-slider {
  .testimonials-slider-entry {
    position: relative;

    .testimonials-slider-entry-content-container {
      max-width: 600px;
      padding-right: $spacing-xl;
      margin: 0 auto;

      @include tablet() {
        max-width: 450px;
        margin: $spacing-base auto;
        padding-left: 0;
      }
    }

    &::before {
      content: '';
      background-image: url('svg/left-quote.svg');
      background-size: contain;
      width: 60px;
      height: 52px;
      position: absolute;
      left: $spacing-xl * 2;

      @media screen and (max-width: 1200px) {
        left: $spacing-xl;
      }

      @include tablet() {
        position: static;
        display: block;
        margin: 0 auto;
      }
    }
  }

  @include tablet() {
    padding: $spacing-medium 0;
  }

  @include phone() {
    padding: $spacing-base 0;
  }
}
