{% extends "base.twig" %}

{% block content %}
  {% include 'hero.twig' %}
  <section class="section">
    <h2>Income Share Agreements</h2>
    <p>Your education financing isn't a loan. Income Share Agreements are based on your potential, so you don't need a credit check to qualify.</p>
    <p>You'll pay back a portion of your salary: if you hit rough times, your ISA won't be too expensive, but if you excel in your field, your ISA has a cap so you don't overpay.</p>
  </section>
  <section class="section">
    <h2>Join our Network</h2>
    <p>You'll have access to top professionals in your field. These mentors are here to help you grow professionally and seek the best opportunities.</p>
    <p>Our platform lets you browse and connect with industry leaders for your major. Once you're accepted into our program, our hand-picked partners will help you hone your professional skills - whatever you determine you need.</p>
  </section>

  {% include 'our-partners.twig' %}
  {% include 'how-to-apply.twig' %}
{% endblock %}
