{% extends "base.twig" %}

{% block content %}
  <section class="section">
    <h1>For mentors</h1>
  </section>
  <section class="section">
    <h2>Empower students today</h2>
    <p>
      Our platform empowers students to seek profesrional advancement. By joining, you’ll be added to 
      our pool of resources for students.
    </p>
    <p>
      Students who share your professional interests will reach out to you on the platform, and you’ll
      decide to either talk or meet with them to share your insights.
    </p>
  </section>
  {% include 'our-partners.twig' %}
  {% include 'how-to-apply.twig' %}
  {% include 'email-signup.twig' %}
{% endblock %}
