{% extends "base.twig" %}

{% block content %}
  <div class="container container-large">
    <div class="blog-index-section">
      <h2 class="blog-index-section-title">Featured</h2>
      <div class="blog-index-featured-post">
        <div class="blog-index-featured-post-image"></div>
        <div class="blog-index-featured-post-content">
          <h3 class="blog-index-featured-post-title">Test Title</h3>
          <p class="blog-index-featured-post-date">January 30, 2018</h4>
        </div>
      </div>
    </div>

    <div class="blog-index-section">
      <h2 class="blog-index-section-title">Spotlights</h2>
      <div class="blog-posts-grid">
        {% include 'tease-post.twig' %}
        {% include 'tease-post.twig' %}
        {% include 'tease-post.twig' %}
      </div>
      <a href="#" class="blog-posts-grid-see-more-link">See More &rarr;</a>
    </div>
  </div>
{% endblock %}
