{% block content %}
  <article class="tease">
    <div class="tease-image"></div>
    <h3 class="tease-title">{{post.post_title}}</h3>
    <p class="tease-date">{{post.post_date}}</p>
  </article>
{% endblock %}
