.apply_form__steps {
  list-style: none;
  height: 20px;
  background-color: $lightest-slate-gray;
  padding: 0;
  margin: 0;

  .apply_form__steps__progress {
    background-image: linear-gradient(to right, $ocean-green, $pastel-green);
    height: inherit;
  }
}

.apply_form__body__step,
.apply_form__body__actions {
  margin: $spacing-large auto;

  button + button {
    margin-left: $spacing-base;
  }

  .reason-for-funding-container {
    margin-top: $spacing-xl;
  }
}

.apply_form {
  .input-label-question {
    color: $slate-gray;
    font-family: $font-family-body;
  }

  input,
  textarea {
    display: block;
    width: 100%;
  }
}

.apply-form-balloons {
  display: block;
  width: 550px;
  height: 548px;
  margin: 0 auto;
}

.apply-form-success-blogs {
  h2 {
    text-align: center;
  }
}
