.posts-grid {
  display: flex;
  justify-content: space-between;

  .tease {
    color: $digital-black;
    position: relative;
    width: calc(33.333% - #{$spacing-medium});
    margin-bottom: $spacing-medium;

    .ribbon {
      position: absolute;
      top: $spacing-small;
      left: -($spacing-base);
      color: $white;
      padding: $spacing-xxxs $spacing-base;
      font-family: $font-family-headers;
      border-radius: $border-radius-base;

      @include ribbon-color('mentor-spotlight', $pastel-green, $ocean-green);
      @include ribbon-color('featured-content', $froly, #bc7464);
      @include ribbon-color('in-the-news', $ocean-green, #2f7e6f);

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: $spacing-base solid transparent;
        border-right: 0 solid transparent;
        border-top: $spacing-xxs solid;
        position: absolute;
        bottom: -($spacing-xxs);
        left: 0;
      }
    }

    .tease-image {
      display: block;
      height: 201px;
      margin-bottom: $spacing-xs;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.alm-btn-wrap {
  text-align: center;
}

.alm-load-more-btn.done {
  display: none;
}
