.home {
  .section.hero {
    padding: ($spacing-base * 10) 0;
  }

  .dual-focus-wrapper {
    padding: $spacing-base;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    section {
      padding: $spacing-base;
      box-sizing: border-box;
      flex: 1 0 300px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .icon-container {
        width: 160px;
        height: 160px;
        margin: 0 0 $spacing-small 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        &.icon-cash {
          background: $pastel-green;
        }

        &.icon-handshake {
          background: $froly;
        }
      }
    }
  }

  .stats-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    .stat {
      box-sizing: border-box;
      padding: $spacing-base;

      .number {
        margin: 0 0 $spacing-base 0;
        font-weight: bold;
        text-align: center;
        color: $dark-gray;
        font-size: 6rem;
        color: $digital-black;
      }

      label {
        font-size: 1.8rem;
      }
    }

    @media (min-width: 768px) {
      .stat {
        flex: 1 0;
      }

      .stat .number {
        font-size: 5.2vw;
      }
    }

    @media (min-width: 1280px) {
      .stat .number {
        font-size: 8rem;
      }
    }
  }

  .testimonial-wrapper {
    display: flex;
    flex-flow: column no-wrap;
    padding: $spacing-xl;
  }
}
