.home {
  .dual-focus-wrapper {
    h2,
    h3 {
      text-align: center;
    }

    .dual-focus {
      padding: $spacing-base;
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    section {
      height: auto;
      max-width: 480px;
      padding: $spacing-base;
      box-sizing: border-box;
      flex: 1 0 324px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      @include tablet() {
        width: 324px;
      }

      .icon-container {
        width: 15vw;
        height: 15vw;
        max-width: 160px;
        max-height: 160px;
        min-width: 80px;
        min-height: 80px;
        margin: 0 0 $spacing-small 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        &.icon-cash {
          background: $pastel-green;
        }

        &.icon-handshake {
          background: $froly;
        }

        .icon {
          width: 60%;
        }
      }
    }
  }

  .stats-wrapper {
    padding: $spacing-medium;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @media (max-width: 900px) {
      flex-flow: column nowrap;

      .stat {
        max-width: 50%;
        align-self: flex-start;
      }

      .stat:nth-child(even) {
        align-self: flex-end;
      }
    }

    @media (max-width: 600px) {
      align-items: center;

      .stat {
        max-width: 100%;
      }
    }

    .number-wrapper {
      height: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .number {
        margin: 0 0 $spacing-base 0;
        position: absolute;
        z-index: 5;
        font-family: $font-family-headers;
        font-size: 12rem;
        color: $froly;
      }

      .stat-icon {
        position: relative;
        z-index: 4;
      }

      .plus-icon {
        right: -48px;
        top: -48px;
      }

      .dollar-icon {
        font-family: 'Bitter', sans-serif;
        left: 50px;
        bottom: 25px;
      }
    }

    label {
      max-width: 300px;
      font-size: 2.4rem;
      font-family: $font-family-body;
      line-height: $line-height-medium;
      color: $slate-gray;
    }
  }
}
