.single-post {
  .single-post-header {
    margin-top: $spacing-large;
  }

  .single-post-subtitle {
    color: $slate-gray;
    margin-top: 0;
    font-family: $font-family-body;
  }

  .single-post-meta {
    margin: $spacing-medium 0 $spacing-base 0;
  }

  .single-post-content {
    margin-bottom: $spacing-large;
  }
}
