{% set layout = component.mw_multi_column_layout %}

<section class="section multi-column-layout">
  <h2>{{ layout.mw_multi_column_layout_section_headline }}</h2>
  <div class="column-container">
    {% for column in layout.mw_multi_column_layout_columns %}
      <div class="column">
        <div class="icon-container">
          <img class="icon" src="{{ column.mw_multi_column_layout_col_icon.url }}">
        </div>
        <h3>{{ column.mw_multi_column_layout_col_headline }}</h3>
        <h5>{{ column.mw_multi_column_layout_col_copy }}</h5>
      </div>
    {% endfor %}
  </div>
</section>
