{% set form = component.mw_contact_form %}
{% set id = component.mw_component_id %}

<div{% if id %} id="{{id}}"{% endif %} class="section container">
  <h2>{{ form.mw_contact_form_section_headline }}</h2>
  <p class="large-text max-width-paragraph">{{ form.mw_contact_form_section_copy }}</p>
  {{ form.mw_contact_form_id|shortcodes }}
</div>
