<form class="email-signup">
  <h3>{{options.mw_mailing_list_signup.mw_mailing_list_signup_cta_copy}}</h3>
  <input type="text" class="secondary" placeholder="{{options.mw_mailing_list_signup.mw_mailing_list_signup_placeholder_copy}}">
  <input type="submit" class="button --filled" value="{{options.mw_mailing_list_signup.mw_mailing_list_signup_cta_button_copy}}">
</form>
