<section class="section email-signup">
  <form>
    <label>Join our mailing list</label>
    <input type="text" placeholder="johnnyappleseed@gmail.com">
    <input type="submit" class="button" value="Sign me up!">
  </form>
</section>
