<section class="section">
  <h2>Our partners</h2>
  <p>
     Our mentors have a wide variety of backgrounds
     tailored to suit your interests, but here’s just 
     a sampling of the companies they are a part of:
  </p>
  <div class="image-grid">
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
  </div>
</section>
