{% set stats = component.mw_statistics %}

<section class="section multi-column-layout stats-wrapper">
  <div class="column-container">
  {% for stat in stats %}
    <div class="column">
      <div class="number-wrapper">
        <figure class="number">{{ stat.mw_statistics_number }}</figure>
        <img class="stat-icon" src="{{ stat.mw_statistics_icon.url }}">
      </div>
      <p class="large-text stats-label">{{ stat.mw_statistics_copy }}</p>
    </div>
  {% endfor %}
  </div>
</section>
