{% set testimonials = component.mw_testimonials %}

<section class="section testimonials-slider container container-large">
  {% for item in testimonials %}
    <div class="testimonials-slider-entry">
      <div class="testimonials-slider-entry-content-container">
        <p class="large-text">{{item.mw_testimonial_copy}}</p>
        <p class="large-text">- {{item.mw_testimonial_credit}}</p>
      </div>
    </div>
  {% endfor %}
</section>
