.form-input-container {
  display: flex;
  max-width: $container-width-medium;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  & + .form-input-container {
    margin-top: $spacing-medium;
  }

  .form-input-small {
    width: 33.333%;
  }

  small {
    display: block;
    margin-top: $spacing-xxs;
  }
}

input,
select,
textarea {
  padding: $spacing-xxs 0;
  border: 0;
  font-size: $font-size-base;
  appearance: none;
  outline: 0;
  color: $slate-gray;
}

input {
  border-bottom: 2px solid $light-slate-gray;
}

input::placeholder {
  color: $slate-gray;
}

select {
  min-width: 320px;
}

label {
  display: block;
  margin-bottom: $spacing-xxs;
}

.radio-button-row-container {
  display: flex;

  .radio-button-container + .radio-button-container {
    margin-left: $spacing-medium;
  }
}

.radio-button-container {
  position: relative;
  padding-left: $spacing-small;
  color: $slate-gray;
  margin-top: $spacing-base;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
  }
}

.radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: $white;
  box-shadow: inset 0 1px 3px 0 $light-slate-gray;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .radio-button:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .radio-button:after {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $pastel-green;
}
