.form-input-container {
  display: flex;
  max-width: $container-width-medium;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  & + .form-input-container {
    margin-top: $spacing-medium;
  }

  .form-input-small {
    width: 33.333%;
  }

  small {
    display: block;
    margin-top: $spacing-xxs;
  }
}

input,
select {
  padding: 12px;
  border: 1px solid $dark-gray;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  appearance: none;
}

input::placeholder {
  color: #a5a5a5;
}

select {
  min-width: 320px;
}

label {
  display: block;
  margin-bottom: $spacing-xxs;
}
