html,
body {
  // Allows rem units to make more sense: 1.8rem = 18px
  font-size: 62.5%;
  -ms-text-size-adjust: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  // Fixes bug with mix-blend-mode in Chrome 58+
  // https://bugs.chromium.org/p/chromium/issues/detail?id=711955
  background: white;
  // Renders fonts akin to the mockups with a slightly lighter
  // weight in Blink and Webkit
  -webkit-font-smoothing: antialiased;
}

.container {
  width: $container-width-medium;
  margin-left: auto;
  margin-right: auto;

  &.container-large {
    width: $container-width-large;
  }
}
