body {
  color: $digital-black;
  font-family: $font-family-body;
  font-size: $font-size-base;
}

p {
  width: $container-width-base;
  margin: 0 auto $spacing-medium auto;
  color: $slate-gray;

  &.large-text {
    font-size: $font-size-medium;

    @include tablet() {
      font-size: $font-size-base;
    }
  }
}

h1 {
  margin: 0;
  font-size: $font-size-xxxxl;
  font-family: $font-family-headers;
  font-weight: normal;

  @include tablet() {
    font-size: $font-size-xxl;
  }
}

h2 {
  margin: 0 0 $spacing-medium 0;
  font-size: $font-size-xxxl;
  font-family: $font-family-headers;
  font-weight: normal;

  @include tablet() {
    font-size: $font-size-xl;
  }
}

h3 {
  margin: ($spacing-base * 1.6) 0 0 0;
  font-size: $font-size-large;
  font-family: $font-family-headers;
  font-weight: normal;
}

h4 {
  color: $digital-black;
  margin: 0;
  font-family: $font-family-body;
  font-size: $font-size-medium;
}

h5 {
  color: $slate-gray;
  font-family: $font-family-body;
  font-size: $font-size-base;
}

h6 {
  color: $slate-gray;
  font-family: $font-family-body;
  font-size: $font-size-small;
}

small {
  font-size: $font-size-xs;
}
