body,
p {
  color: $digital-black;
  font-size: $font-size-base;
}

h1 {
  font-size: $font-size-large;
}

h2 {
  font-size: $font-size-medium;
  font-weight: normal;
  margin: 0;
}

h3 {
  margin: 0;
}

small {
  font-size: $font-size-xs;
}
