// Low-Fi wireframe grays
$light-gray: #ededed;
$medium-gray: #d8d8d8;
$dark-gray: #999999;

// Brand colors (http://chir.ag/projects/name-that-color/)
$pastel-green: #6bd992;
$froly: #f5907a;
$ocean-green: #419f8e;
$light-ocean-green: rgba($ocean-green, 0.5);
$genoa: #126d5c;
$slate-gray: #71808b;
$light-slate-gray: rgba($slate-gray, 0.3);
$lightest-slate-gray: rgba($slate-gray, 0.1);

// Global colors
$black: #000000;
$white: #ffffff;
$transparent-white: rgba($white, 0.95);
$digital-black: #333333;
$light-digital-black: rgba($digital-black, 0.2);

// Font sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-small: 16px;
$font-size-base: 18px;
$font-size-medium: 21px;
$font-size-large: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-xxxxl: 48px;

// Font familys
$font-family-body: 'Roboto', sans-serif;
$font-family-headers: 'Roboto Slab', serif;
$font-family-quotes: 'Bitter', serif;

// Spacing
$spacing-base: 20px;
$spacing-xxxs: $spacing-base * 0.25; // 5px
$spacing-xxs: $spacing-base * 0.5; // 10px
$spacing-xs: $spacing-base * 0.75; // 15px
$spacing-small: $spacing-base * 1.5; // 30px
$spacing-medium: $spacing-base * 2; // 40px
$spacing-large: $spacing-base * 3; // 60px
$spacing-xl: $spacing-base * 4; // 80px
$spacing-xxl: $spacing-base * 8; // 160px

// Line heights
$line-height-single: 1;
$line-height-small: 1.3;
$line-height-medium: 1.7;

// Containers
$container-width-base: 480px;
$container-width-medium: $container-width-base * 2;
$container-width-large: $container-width-base * 2.5;

// Font weights
$font-weight-base: 400;
$font-weight-semibold: 500;

// Media queries
$phone-width: 540px;
$tablet-width: 768px;

// Borders
$border-size-base: 2px;

// Border Radii
$border-radius-base: 2px;
$border-radius-medium: $border-radius-base * 2;

// Miscellaneous
$box-shadow-light: inset 0 1px 3px 0 $light-slate-gray;
$button-shadow-hover: 4px -4px 0 0;
$shadow-light: transparentize($digital-black, 0.7);
$footer-social-media-icon-size: 24px;
