// Low-Fi Wireframe Grays
$light-gray: #ededed;
$medium-gray: #d8d8d8;
$dark-gray: #999999;

// Global Colors
$black: #000000;
$white: #ffffff;
$digital-black: #333333;

// Font Sizes
$small-font-size: 0.667rem;
$base-font-size: 18px;

// Spacing
$base-spacing: 20px;
$xs-spacing: $base-spacing * 0.75;
$small-spacing: $base-spacing * 1.5;
$medium-spacing: $base-spacing * 2;
$large-spacing: $base-spacing * 4;

// Miscellaneous
$base-border-radius: 4px;
